<div class="row">
  {{# if products}}
  <div class="col s12 ">
    <h4>Shopping cart </h4>
  </div>
  <div class="col s12 z-depth-5">
    <table class="striped">
      <thead>
        <th>Item Name</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
      </thead>
      <tbody>
        {{# each products}}
        <tr>
          <td>{{this.item.title}}</td>
          <td>
            <a class="btn" href="/shop/reduce/{{this.item._id}}"><b>-</b></a>
            {{this.qty}}
            <a class="btn" href="/shop/add/{{this.item._id}}"><b>+</b></a>
          </td>
          <td>ksh. {{this.item.price}}</td>
          <td>
            <b>ksh. {{this.price}}</b>
            <a class="red-text" href="/shop/remove_item/{{this.item._id}}">remove</a> </td>
          </td>
        </tr>
        {{/each}}
        <tr>
          <td></td>
          <td></td>
          <td><b>TOTAL : </b></td>
          <td>
            <b>ksh. {{totalPrice}}</b>
        </tr>
      </tbody>
    </table>
    <p></p>
  </div>
  <div class="col s12">
    <p><a href="/shop/checkout" class="btn waves-effect waves-light">Checkout</a></p>

  </div>
  {{else}}
  <p>&nbsp;</p>
  <div class="col s12 z-depth-5 ">
    <h3 align="center">Shopping Cart is Empty !!</h3>
  </div>
  {{/if}}

</div>
